.app {
    background: linear-gradient(120deg, #5e5e5e, #222222, #00BABB);
    padding: 0;
    margin: 0;
   // overflow-x: hidden;
}

.section {
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00BABB;
    box-shadow: 0px 5px 5px white;
  }