@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.calendar-section {
  width: 95%;
  height: fit-content;
  // background-color: grey;
  margin: 100px auto 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  height: 300px;
  position: relative;
}

.calendar-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.calendar-box {
  width: 15%;
  height: 100%;
  background-color: white;
  
}

.calendar-list { 
  position: absolute;
  left: 10%;
  width: fit-content;
  overflow: visible;

}

.calendar-list-item {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-style: italic;
  padding: 3px;
  cursor: pointer;
}

.arrows-box {
  position: absolute;
  font-size: 50px;
  float: right;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 120px;
}

.arrow-down, .arrow-up {
  cursor: pointer;
}

.arrow-down {
  top: 50%;
}

.calendar-list-subitem { 
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  margin-left: 15%;
  transition: all 0.3s;
}

.calendar-list-subitem:hover { 
  transform: skewX(-20deg);
}

.calendar-list-item {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

// .calendar-list-item::before {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 4px;
//   border-radius: 4px;
//   background-color: #18272F;
//   bottom: 0;
//   left: 0;
//   transform-origin: right;
//   transform: scaleX(0);
//   transition: transform .3s ease-in-out;
// }

// .calendar-list-item:hover::before {
//   transform-origin: left;
//   transform: scaleX(1);
// }

.calendar-slide {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-list-subitem {
  cursor: pointer;
}