@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.calendar-section {
  width: 90%;
  height: fit-content;
  margin: 100px auto 50px auto;
  border-radius: 15px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.432);
  padding: 35px;
}

.calendar-inner {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

.calendar-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.calendar-box {
  width: 15%;
  height: 100%;
  background-color: white;
  
}

.calendar-list { 
  width: fit-content;
  overflow: visible;
  margin-left: 10%;
}

.calendar-list-item {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-style: italic;
  padding: 3px;
  cursor: pointer;
}

.arrows-box {
  position: absolute;
  font-size: 50px;
  float: right;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 120px;
}

.arrow-down, .arrow-up {
  cursor: pointer;
}

.arrow-down {
  top: 50%;
}

.calendar-list-subitem { 
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  margin-left: 15%;
  transition: all 0.3s;
}

.calendar-list-subitem:hover { 
  transform: skewX(-20deg);
}

.calendar-list-item {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

.calendar-slide {
  background-color: rgba(255, 255, 255, 0.432);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-list-subitem {
  cursor: pointer;
}

.slide-title, .slide-time, .slide-description, .slide-location, .slide-members {
  font-family: "Anton", sans-serif;
}

.slide-title {
  font-size: 20px;
  text-decoration: underline;
}



.event-infos-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

