@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.calendar-section {
  width: 95%;
  height: fit-content;
  // background-color: grey;
  margin: 100px auto 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00BABB;
  border-radius: 15px;
  height: 300px;
  position: relative;
}

.calendar-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.calendar-box {
  width: 15%;
  height: 100%;
  background-color: white;
  
}

.calendar-list { 
  position: absolute;
  left: 10%;
  width: fit-content;
  overflow: visible;

}

.calendar-list-item {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-style: italic;
  padding: 3px;
}

.arrows-box {
  position: absolute;
  font-size: 50px;
  float: right;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}

.calendar-list-subitem { 
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  font-style: italic;
  margin-left: 15%;
}