.modal-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: white;
}

.geometry-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round, .round-half {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
}

