@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.landingpage-container {
    background: url("../images/leaders/First_page.webp") no-repeat center center ;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.overlay-dark {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 70%;
    transition: background-color 0.3s ease;
}

.scrolled {
    background-color: #00BABB;
    opacity: 40%;
    transition: background-color 0.3s ease;
}



.text-block, .scroll-block {
    position: absolute;
    display: flex;
    top: 50%;
    left: 10vh;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
}

.text-block {
    height: 40vh;
    width: fit-content;
    overflow: visible;
    top: 425px;
}

.scroll-block {
    top: 80%;
    width: fit-content;
    height: fit-content;
    // top: 80%;
    // left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.scroll-down-text {
    text-decoration: none;
    color: white;
}


.overlay-title, .overlay-paragraph {
    font-size: 40px;
    letter-spacing: 5px;
    color: white;
    z-index: 10;
    transform: translateY(-50%);
    transition: transform 0.5s ease;
}

.overlay-title {
    font-family: "Silkscreen", sans-serif;
    overflow: visible;
}

.animation {
    animation: moveRight 1s ease-out forwards alternate;
}


@keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
.overlay-paragraph {

    font-size: 50px;
    letter-spacing: 0px;
    font-family: "Teko", sans-serif;
    margin-top: 50px;
}


.btn-enter {
    width: fit-content;
    padding: 20px;
    cursor: pointer;
}

.text {
display: block;
margin-top: 75px;
margin-left: -30px;
font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size: 12px;
color: #fff;
text-transform: uppercase;
white-space: nowrap;
opacity: .25;
animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
to {
    opacity: 1;
}
}




/* media queries */ 

@media only screen and (max-width: 768px) {
    .overlay-title {
        font-size: 40px;
    }

    .text-block {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlay-paragraph { 
        font-size: 30px;
        position: absolute;
        z-index: 999;
        margin-top: 220px;
    }
}


// @media screen and (min-width: 500px) {
  
//     .overlay-paragraph { 
//         font-size: 30px;
//     }
// }

@media screen and (min-width: 900px) {
  
    .overlay-paragraph { 
        font-size: 45px;
        margin-top: -20px;
    }

    .overlay-title {
        font-size: 50px;
    }

    // .text-block {
    //     top: 70%;
    // }

} 

// @media screen and (min-width: 700px) {
//     .box {
//         flex: 1 1 10%;
//     }
// }
