@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.landingpage-container {
    background: url("../images/leaders/Florent.png") no-repeat center center ;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.overlay-dark {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 70%;
    transition: background-color 0.3s ease;
}

.scrolled {
    background-color: #00BABB;
    opacity: 40%;
    transition: background-color 0.3s ease;
}



.text-block, .scroll-block {
    position: absolute;
    display: flex;
    top: 50%;
    left: 10vh;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
}

.text-block {
    height: 40vh;
    width: fit-content;
    overflow: visible;
}

.scroll-block {
    top: 80%;
    width: fit-content;
    height: fit-content;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.scroll-down-text {
    text-decoration: none;
    color: white;
}


.overlay-title, .overlay-paragraph {
    font-size: 100px;
    letter-spacing: 5px;
    color: white;
    z-index: 10;
    transform: translateY(-50%);
    transition: transform 0.5s ease;
}

.overlay-title {
    font-family: "Silkscreen", sans-serif;
    overflow: visible;
}

.animation {
    animation: moveRight 1s ease-out forwards alternate;
}


@keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
.overlay-paragraph {

    font-size: 50px;
    letter-spacing: 0px;
    font-family: "Teko", sans-serif;
}


.btn-enter {
    width: fit-content;
    padding: 20px;
    cursor: pointer;
}

// .overlay-paragraph {
//     animation: slideIn2 1s ease-out; 
//     animation-delay: 1s;
// }

// .btn-enter {
//     animation: slideIn3 1s ease-out; 
//     animation-delay: 2s;
// }


// @keyframes slideIn1 {
//     from {
//       transform: translateX(-100%);
//       opacity: 0;
//     }
//     to {
//       transform: translateX(0);
//       opacity: 1;
//     }
// }


// @keyframes slideIn2 {
//     from {
//       transform: translateX(-100%);
//       opacity: 0;
//     }
//     to {
//       transform: translateX(0);
//       opacity: 1;
//     }
// }


// @keyframes slideIn3 {
//     from {
//       transform: translateX(-100%);
//     }
//     to {
//       transform: translateX(0);
//     }
//   }



// .chevron {
// position: absolute;
// width: 28px;
// height: 8px;
// opacity: 0;
// transform: scale3d(0.5, 0.5, 0.5);
// animation: move 3s ease-out infinite;
// }

// .chevron:first-child {
// animation: move 3s ease-out 1s infinite;
// }

// .chevron:nth-child(2) {
// animation: move 3s ease-out 2s infinite;
// }

// .chevron:before,
// .chevron:after {
// content: ' ';
// position: absolute;
// top: 0;
// height: 100%;
// width: 51%;
// background: #fff;
// }

// .chevron:before {
// left: 0;
// transform: skew(0deg, 30deg);
// }

// .chevron:after {
// right: 0;
// width: 50%;
// transform: skew(0deg, -30deg);
// }

// @keyframes move {
// 25% {
//     opacity: 1;

// }
// 33% {
//     opacity: 1;
//     transform: translateY(30px);
// }
// 67% {
//     opacity: 1;
//     transform: translateY(40px);
// }
// 100% {
//     opacity: 0;
//     transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
// }
// }

.text {
display: block;
margin-top: 75px;
margin-left: -30px;
font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size: 12px;
color: #fff;
text-transform: uppercase;
white-space: nowrap;
opacity: .25;
animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
to {
    opacity: 1;
}
}




/* media queries */ 

@media only screen and (max-width: 768px) {
    .overlay-title {
        font-size: 40px;
    }

    .text-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlay-paragraph { 
        font-size: 30px;
    }
}


@media screen and (min-width: 500px) {
  
    .overlay-paragraph { 
        font-size: 30px;
    }
}

@media screen and (min-width: 900px) {
  
    .overlay-paragraph { 
        font-size: 45px;
        margin-top: -45px;
    }

    .text-block {
        top: 70%;
    }

} 

// @media screen and (min-width: 700px) {
//     .box {
//         flex: 1 1 10%;
//     }
// }
