.subtitle, .subpoint {
    margin-top: 45px;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", sans-serif;
}

.subtitle {
    font-weight: 900;
    font-family: "Anton", sans-serif;
}

.program-point {
    font-family: "Anton", sans-serif;
    cursor: pointer;
}

.program-points-container {
    width: 100%;
}

.subpoints-container {
    margin-top: 40px;
    width: 90%;
}

.point-icon {
    margin-right: 20px;
}


