// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.main-section {
    width: 90%;
    height: fit-content;
    // background-color: grey;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 15px;
    padding: 35px;
}

.section-title, .section-text, .section-small-elements {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: visible;
}

.section-text {
    margin-top: 40px;
    width: 55%;
}


.section-small-elements {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.small-element {
    width: 100px;
    height: 100px;
    background-color: red;
}

.program-points-container {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.program-point {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #00BABB;
    padding: 20px;
    width: 33%;
    border-radius: 20px;
    border: 2px white;
    height: 120px;
    text-align: center;
}

.icon-programm {
    font-size: 40px;
}

.section-on-hover {
    margin-top: 30px;
    width: 60%;
    text-align: center;
}

.section-title-generic {
    background-color: #00BABB!important;
    width: fit-content;
    margin: auto;
    font-family: "Anton", sans-serif;
}

/* media queries */ 

@media only screen and (max-width: 600px) {

    .section-small-elements {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
        margin-top: 30px;
    }

    .section-text {
        width: 90%;
    }

    .program-point { 
        width: 100%;
    }

    .program-points-container {
        flex-direction: column;
    }
}
